<launch>
    <remap from="/camera/rgb/image" to="/camera/rgb/image_color"/>
    <remap from="/camera/rgb/camera_info" to="/camera/rgb/camera_info"/>
    <remap from="/camera/depth/image" to="/camera/depth/image"/>
    <remap from="/camera/depth/camera_info" to="/camera/depth/camera_info"/>
    <param name="publish_debug_image" type="bool" value="true" />
    <node name="odometry" pkg="simple_vo" type="simple_vo" output="screen" />
</launch>